@font-face {
  font-family: "alibaba";
  src: url("fonts/alibaba-regular.woff2-5d2979c4.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alibaba-bold";
  src: url("fonts/alibaba-bold.woff2-bbb24413.woff2") format("woff2");
  font-weight: 500;
  font-style: bold;
}
/* ریست کد */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-size: clamp(14px, 2vw, 16px);
  width: 100%;
  max-width: 100%;
  text-align: center;
  font-family: alibaba, alibaba-bold;
  background-color: rgb(245, 245, 245);
  overflow-wrap: break-word;
  overflow-x: hidden;
  /* direction: rtl; */
}
header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 4rem;
  background-color: #ffffff;
  div {
    width: 50%;
    display: flex;
    padding: 0.5rem 0;
    a {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        margin-left: 3.5rem;
      }
    }
  }
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .background-yellow {
      background-color: #ffbb00;
      width: 100%;
      height: 10rem;
    }
    .nav-search-bar {
      background-color: rgb(255, 255, 255);
      width: 85%;
      height: 16rem;
      border: 1px solid rgba(0, 0, 0, 0.144);
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.048);
      border-radius: 0.5rem;
      padding: 1rem;
      margin: 1rem auto;
      margin-top: -4rem;
      z-index: 2;
    }
    h1 {
      font-family: alibaba-bold;
    }
    p {
      color: rgb(99, 110, 114);
      font-family: alibaba-bold;
      margin-top: 1rem;
      font-size: 1.2rem;
    }
    .search {
      margin-top: 4.5rem;
      direction: rtl;
      input {
        width: 85%;
        padding: 0.9rem 0.4rem;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.212);
        border-radius: 0.5rem;
      }
      input::placeholder {
        font-size: 1rem;
        font-family: alibaba;
        color: rgba(0, 0, 0, 0.418);
      }
      button {
        background-color: #ffbb00;
        padding: 0.7rem 2.1rem;
        border: none;
        border-radius: 0.5rem;
        font-size: 1rem;
        font-family: alibaba;
        cursor: pointer;
        transition: all 300ms;
        &:hover {
          background-color: #f39c12;
        }
      }
    }
    nav {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin: 0 auto;
      width: 78%;
      gap: 1rem;
      button {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        background-color: white;
        border: 1px solid #0000001a;
        border-radius: 0.5rem;
        width: 33.333%;
        height: 4.5rem;
        cursor: pointer;
        transition: all 300ms;
        .icon2 {
          img {
            width: 1.2rem;
            height: 1.2rem;
          }
        }
        &:hover {
          background-color: rgb(245, 245, 245);
        }

        div:nth-child(1) {
          width: 20%;
          img {
            width: 1.8rem;
            height: 1.8rem;
          }
        }
        div:nth-child(2) {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 0.4rem;
          width: 80%;
          margin-right: 1rem;
          strong {
            font-size: 0.9rem;
            font-weight: normal;
            font-family: alibaba;
          }
          small {
            font-size: 0.7rem;
            font-weight: normal;
            font-family: alibaba;
            color: #00000096;
          }
        }
        div:nth-child(3) {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
h2 {
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  direction: rtl;
  gap: 0.5rem;
  width: 78%;
  a {
    background-color: #ffffff;
    padding: 1rem;
    text-decoration: none;
    height: 7rem;
    border: 1px solid rgba(0, 0, 0, 0.158);
    border-radius: 0.5rem;
    transition: all 300ms;
    &:hover {
      border: 1px solid #3498db;
      color: rgb(52, 152, 219);
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      img {
        width: 1.2rem;
        height: 1.2rem;
      }
      strong {
        color: black;
        font-weight: normal;
      }
    }
  }
  .box07,
  .box08,
  .box11 .box8,
  .box011,
  .box12,
  .box13 {
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
.grid-container2 {
  grid-template-rows: repeat(3, 1fr);
}
.slider {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  width: 78%;
  height: 15rem;
  .card {
    display: flex;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.199);
    border-radius: 0.5rem;
    width: 25%;

    a {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: black;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 50%;
        border-radius: 0.5rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        object-fit: cover;
      }
      strong {
        text-align: right;
        margin-top: 1rem;
        padding-right: 0.8rem;
        margin-right: 0;
      }
      small {
        margin-top: 0.7rem;
        text-align: right;
        padding-right: 0.8rem;
        line-height: 2.2;
        word-wrap: break-word;
        color: rgba(0, 0, 0, 0.664);
        font-weight: bold;
      }
    }
  }
}
footer {
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.151);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  width: 100%;
  height: 35rem;
  padding: 2rem 4rem;
  margin-top: 4rem;
  .footer-container-top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 40%;
    a {
      text-decoration: none;
      color: black;
      font-size: 0.9rem;

      li {
        margin-top: 0.5rem;
        text-align: right;
      }
    }
    .info-call {
      text-align: left;
      width: 45%;
      img {
        width: 12rem;
        height: 1.8rem;
      }
      address {
        margin-top: 1.5rem;

        p {
          margin-top: 1rem;
          direction: rtl;
          unicode-bidi: embed;
          font-style: normal;
          font-size: 0.9rem;
          color: rgba(0, 0, 0, 0.795);
        }
      }
    }
    .footer-link-item1,
    .footer-link-item2,
    .footer-link-item3 {
      h4 {
        margin-top: 1rem;
        font-size: 0.9rem;
        margin-bottom: 1.3rem;
        text-align: right;
      }
      ul {
        list-style: none;
      }
    }
  }
  .footer-container-middle {
    display: flex;
    flex-direction: row-reverse;
    height: 40%;
    margin-top: 4rem;
    .more-link {
      width: 50%;
    }
    .Permissions {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      flex-wrap: wrap;
      width: 50%;
      gap: 0.5rem;
      img {
        width: 5rem;
        height: 5rem;
        border: 1px solid rgba(0, 0, 0, 0.171);
        border-radius: 0.5rem;
        object-fit: fill;
        padding: 0.3rem;
      }
    }
    .more-link {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      flex-wrap: wrap;
      align-items: center;
      .link-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 0.5rem;
        direction: rtl;
        font-size: 0.8rem;
        color: #00000096;
        li {
          position: relative;
        }
        li:not(:last-child, :nth-child(4)) {
          &::after {
            content: "•";
            margin: 0 8px;
            color: #0000006b;
          }
        }
        a {
          text-decoration: none;
          color: #666;
          transition: color 0.2s ease;
          &:hover {
            color: #0078d7;
            /* این هاور رو دلخواه گذاشتنم.تو سایت علی بابا لینک ها هاور ندارن */
          }
        }
        .more a {
          color: #0078d7;
          font-weight: bold;
        }
      }
    }
  }
  .footer-container-bottom {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.233);
    height: 20%;
    .copyright-text {
      width: 65%;

      small {
        color: #00000085;
      }
    }
    .footer-social {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      /* gap: 2rem; */
      width: 35%;
      img {
        width: 1.8rem;
        height: 1.8rem;
        margin-right: 2rem;
        margin-top: 1.5rem;
      }
      /* img:nth-child(6) {
        margin-top: 0.5rem;
        width: 2rem;
        height: 2rem;
      } */
    }
  }
}

/* ===مدیا کوئری‌ها=== */

/* موبایل */
@media screen and (min-width: 320px) and (max-width: 767px) {
  header {
    height: 3.5rem;
    div {
      width: 70%;
      a img {
        margin-left: 0;
        width: 80%;
      }
    }
  }

  main section .nav-search-bar {
    width: 95%;
    height: auto;
    padding: 1rem;
  }

  main section .search {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  main section .search input {
    width: 100%;
    margin-bottom: 1rem;
  }

  main section .search button {
    width: 100%;
  }

  main section nav {
    flex-direction: column;
    width: 90%;
    gap: 0.7rem;
  }

  main section nav button {
    width: 100%;
    height: 4rem;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }

  .slider {
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .slider .card {
    width: 100%;
    height: 18rem;
  }

  footer {
    height: auto;
    padding: 1rem;
    .footer-container-top {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      gap: 1rem;
      .info-call {
        margin-top: 1rem;
      }
      .info-call {
        width: 100%;
        text-align: center;
      }
    }
    .footer-container-middle {
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap;
      gap: 1rem;
      .Permissions {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        width: 100%;
      }
      .more-link {
        margin: 2rem 0;
        width: 100%;
        justify-content: center;
      }
    }
  }
  footer .footer-container-bottom {
    flex-direction: column-reverse;
    gap: 1rem;
    height: auto;
    .copyright-text {
      width: 100%;
      justify-content: center;
      text-align: center;
    }
  }
  footer .footer-container-bottom .footer-social {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
}

/* تبلت */
@media screen and (min-width: 768px) and (max-width: 991px) {
  header div a img {
    margin-left: 2rem;
  }

  main section .nav-search-bar {
    width: 90%;
    .search input {
      width: 80%;
    }
  }
  main section nav {
    width: 90%;
    flex-wrap: wrap;
  }

  main section nav button {
    width: 48%;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
  }

  .slider {
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    .card {
      width: 48%;
    }
  }

  footer {
    padding: 2rem;
    height: auto;
    .footer-container-top {
      flex-wrap: nowrap;
      gap: 1rem;
    }
    .footer-container-middle {
      flex-direction: row-reverse;
      align-items: center;
    }
    .footer-container-bottom {
      flex-direction: row-reverse;
      gap: 1rem;
    }
  }
}

/* لپ تاپ */
@media screen and (min-width: 992px) and (max-width: 1366px) {
  main section .nav-search-bar {
    width: 80%;
  }

  main section nav {
    width: 80%;
  }
  main section .nav-search-bar .search input {
    width: 80%;
  }

  .grid-container {
    width: 85%;
    grid-template-columns: repeat(4, 1fr);
  }

  .slider {
    width: 85%;
  }

  footer {
    padding: 2rem 3rem;
  }

  footer .footer-container-middle .Permissions img {
    width: 4.5rem;
    height: 4.5rem;
  }
}

/* دسکتاپ */
@media screen and (min-width: 1367px) and (max-width: 2100px) {
  main section .nav-search-bar {
    width: 70%;
  }

  main section nav {
    width: 70%;
  }

  .grid-container {
    width: 70%;
  }

  .slider {
    width: 70%;
  }

  footer {
    padding: 3rem 18rem;
  }
}
